
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    font-size: 62.5%;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    color: rgb(24, 24, 24);
}
header{

   
    
    padding-bottom: 4rem;

}

.container{
    max-width: 1200px;
    margin: 0 auto;
   
}


.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    
    padding: 0 2rem;
    position: relative;
    z-index: 0;
}

.menu{
    padding: 2rem 3rem;
    /*background: rgba(10, 69, 121, 0.075);*/

    border-radius: 5rem;
}

.menu ul{
    display: flex;
    list-style: none;
    gap: 4.5rem;
    
}

.menu ul li a, .menu ul li span, .option i{
 text-decoration: none;
 color:rgba(85, 85, 85, 0.856);
 font-weight: bold;
 transition:  0.3s;
 text-transform: uppercase;
 font-size: 1.3rem;
}
.option i{
    cursor: pointer;
    font-size: 1.9rem;
   
}
.menu ul li span{
    cursor: pointer;
}
.menu ul li span i{
    display: inline-flex;
    transition: transform .3s;
}
.menu ul li span.open i{
    transform: rotate(180deg);
}

.menu ul li a:hover, .menu ul li span:hover, .option i:hover{
    color: rgb(54, 54, 54);
}

.logo img{
    width: 5rem;
}

.subMenu{
    display: flex;

    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
   
    opacity: 0;
    transition: all .3s;
    visibility: hidden;
}
.subMenu.open{
    visibility: visible;
    opacity: 1;
}

.subMenu ul li p{
    color: rgba(255, 255, 255, 0.726);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
}
.subMenu ul li p::after{
    content: "";
    margin-top: 1rem;
    display: block;
    width: 100%;
    height: 1px;
    background:  #00000023;
}
.listMenu{
    margin: 0 auto;
    padding: 3.2rem 5rem 5rem;
    background: rgba(34, 42, 49, 0.925);
    list-style: none;
    border-radius: .7rem;
    border: 1px solid rgba(0, 0, 0, 0.733);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.288);
}
.listMenu li a{
    
    color: rgba(255, 255, 255, 0.425) !important;
    text-transform: none !important;
    padding-top: 1rem;
    display: block;
    text-decoration: none;
    font-weight: 400 !important;
    font-size: 1.2rem ;
}
.listMenu li a:hover{
    color: rgba(0, 0, 0, 0.596) !important;
}
.listMenu.MoreOptions {
    
    margin-right: 1.1rem;
    padding: 3.2rem 4rem 2rem;
    text-align: end;
}
.subMenu.MenuExtra{
    z-index: -1;
    top:3rem;
}

.socialBar{
    height: 3rem;
    width: 100%;
}

.start{
    padding: 0 6rem;
    height: 65vh;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: url("assets/img fundo/midia\ switch\ fundo.jpg");
    background-position: center;
    background-size: cover;
    
    border-radius: 3rem;
}

.gridTemplate{
    width: 50%;
}

.gridTemplate p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color:white;
    display: inline-block;
    font-weight: 600;
}

.gridTemplate span{
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: 1rem;
    background: rgb(255, 0, 119);
    
}
.gridTemplate h1{
    font-size: 6rem;
    margin-bottom: 1rem;
    color: white;
}
.gridTemplate p{
    margin-bottom: 2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.815);
}
.gridTemplate img{
    width: 100%;
}
.btn{

    display: inline-flex;
    font-weight: 900;
    padding: 1.5rem 3rem;
    background: rgba(85,97,255,1);
    color: rgb(255, 255, 255);
    cursor: pointer;
    align-items: center;
    border-radius: 1rem;
    transition: background 0.4s;
}
.btn i{
    font-size: 2.3rem;
    margin-left: .6rem;
}

.btn:hover{
    
    background: rgb(75, 85, 224);
}

.contProduct{
 padding: 3rem 1rem;
 display: flex;
 flex-wrap: wrap;

}

.cardProduct{
    width: 32%;
    border-radius: 4rem;
}
.cardProduct h3{
    margin-top: 3rem;
}
.cardProduct span{
    display: inline-block;
    margin-top: 1rem;
    font-weight: 600;
}
.cardProduct img{
    object-fit: cover;
    width: 100%;
    height: 20rem;
    border-radius: 3rem;
}
.cardProduct +.cardProduct{
    margin-left:2rem;
}

.contTitle{
    width: 100%;
    margin-bottom: 4rem;
}

@media (max-width:725px){

    .start{
        height: max-content;
        padding: 4rem 4rem;
    }
    .gridTemplate{
        width: 100%;

    }

    .menu{
        display: none;
    }

    .cardProduct{
        width: 100%;
        border-radius: 2rem;

    }
    
    .cardProduct + .cardProduct{
        margin-top: 1rem;
        margin-left: 0;
    }
}